<div class="card">
  <h2>{{project.title}}</h2>
  {{project.description}}

  <li class="links"><a href='{{project.link}}'>Deployed app</a></li>
  <li class="links"><a href='{{project.frontEnd}}'>Front-end Repo</a></li>
  <li class="links"><a href='{{project.backEnd}}'>Back-end Repo</a></li>
</div>
